{% macro cilium_image(cilium, repo_mirror, image_name) -%}
{% if repo_mirror is defined %}
image:
  repository: "{{ repo_mirror }}/quay.io/cilium/{{ image_name }}"
{% else %}

{% endif %}
{%- endmacro -%}

k8sServiceHost: {{ api_host }}
k8sServicePort: {{ api_loadbalancer_port|default(lb_config.k8s_loadbalancer_api_port,true) }}
preflight:
  enabled: true
{{ (cilium_image(cilium, repo_mirror, "cilium") | indent(2, true)) }}
agent: false
operator:
    enabled: false
