---
- name: Open required firewall ports for Contour DaemonSet (=> HAProxy disabled)
  block:
    - name: Open API port 6443
      ansible.posix.firewalld:
        port: "6443/tcp"
        zone: public
        state: enabled
        permanent: true
        immediate: true

    - name: Open Contour HostPort 80
      ansible.posix.firewalld:
        port: "80/tcp"
        zone: public
        state: enabled
        permanent: true
        immediate: true

    - name: Open Contour HostPort 443
      ansible.posix.firewalld:
        port: "443/tcp"
        zone: public
        state: enabled
        permanent: true
        immediate: true

  when: 'lb_config.enabled | default(true) | bool'

# uncomment to expose the nodeports to the public (enable this with care!)
# note: nodeports are always exposed if you use cilium without kube-proxy replacement
# (see cluster-templatet/config/cilium.yaml)
# - name: Setup Firewall (open nodeport range)
#   ansible.posix.firewalld:
#     port: "30000-32767/tcp"
#     zone: public
#     state: enabled
#     permanent: true
#     immediate: true

- name: Enable masquerade on public firewalld zone
  ansible.posix.firewalld:
    zone: public
    state: enabled
    permanent: true
    immediate: true
    masquerade: true

- name: Copy modules definitions to /etc/modules-load.d
  ansible.builtin.copy:
    src: modules-load.d/
    dest: /etc/modules-load.d/

- name: Copy sysctl definitions to /etc/sysctl.d.d
  ansible.builtin.copy:
    src: sysctl.d/
    dest: /etc/sysctl.d/
  register: sysctl_files

- name: Reload sysctl
  shell: |
    sysctl --system
  when: sysctl_files is changed

- name: Disable SWAP in fstab
  replace:
    path: /etc/fstab
    regexp: '^([^#].*?\sswap\s+.*)$'
    replace: '# \1'
  register: swap_disabled

- name: Disable SWAP now
  shell: |
    swapoff -a
  when: swap_disabled is changed

- name: "Install crio-{{ crio_version }}, kubernetes-{{ k8s_version }} and other tools"
  ansible.builtin.dnf:
    name:
      - cri-o-{{ crio_version }}
      - cri-tools
      - socat
      - conntrack-tools
      - policycoreutils-python-utils
      - container-selinux
      - tar
      - git
      - kubelet-{{ k8s_version }}
      - kubeadm-{{ k8s_version }}
      - kubectl-{{ k8s_version }}
    disable_excludes: all
    state: latest
  tags: k8s

- name: link /usr/bin/kubectl-> /usr/local/bin/k
  ansible.builtin.file:
    src: /usr/bin/kubectl
    dest: /usr/local/bin/k
    state: link

- name: Copy get-dashboard-admin-token.sh script to /usr/local/sbin
  ansible.builtin.copy:
    src: kcd
    dest: /usr/local/bin/kcd
    owner: root
    group: root
    mode: 0o755

- name: Add the overlay module
  community.general.modprobe:
    name: overlay
    state: present

- name: Add the br_netfilter module
  community.general.modprobe:
    name: br_netfilter
    state: present

- name: Create a directory for crio (/var/lib/crio)
  ansible.builtin.file:
    path: /var/lib/crio
    state: directory
    mode: '0755'

- name: Crio Image Conf
  ansible.builtin.template:
    src: 01-crio-image.conf.j2
    dest: /etc/crio/crio.conf.d/01-crio-image.conf
    owner: root
    group: root
  when: repo_mirror is defined

- name: Enable crio
  ansible.builtin.systemd:
    name: crio
    state: started
    enabled: true
    masked: no

- name: Enable kubelet
  ansible.builtin.systemd:
    name: kubelet
    state: started
    enabled: true
    masked: no

- name: Create a directory for persistences (/data/k8s/)
  ansible.builtin.file:
    path: /data/k8s
    state: directory
    mode: '0755'
  register: create_data_k8s

- name: Set selinux context for persistences
  ansible.builtin.command:
    cmd: semanage fcontext -a -t container_file_t  "/data/k8s(/.*)?"
  changed_when: false

- name: Restore selinux context for persistences
  ansible.builtin.command:
    cmd: restorecon -R /data/k8s
  changed_when: false

- name: Create a directory for persistences (/data/k8s-shared/)
  ansible.builtin.file:
    path: /data/k8s-shared
    state: directory
    mode: '0755'
  register: create_data_k8s_shared

- name: Set selinux context for persistences
  ansible.builtin.command:
    cmd: semanage fcontext -a -t container_file_t  "/data/k8s-shared(/.*)?"
  changed_when: false

- name: Restore selinux context for persistences
  ansible.builtin.command:
    cmd: restorecon -R /data/k8s-shared