- name: Include system definitions from system_vars.yaml
  ansible.builtin.include_vars:
    file: ../vars/system_vars.yml
- name: Check if config files exist
  ansible.builtin.stat:
    path: "../../config/components/{{ item }}.yaml"
  loop: "{{ components }}"
  register: config_files_stat

- name: Include custom config files that exist
  ansible.builtin.include_vars:
    file: "../../config/components/{{ item.item }}.yaml"
    name: "{{ item.item }}_config"
  loop: "{{ config_files_stat.results }}"
  when: item.stat.exists
  loop_control:
    loop_var: item
