- name: Delete old repo definitions if they are there
  ansible.builtin.file:
    path: /etc/yum.repos.d/libcontainers.repo
    state: absent
  ignore_errors: true

- name: Copy cri-o repo definitions in place
  ansible.builtin.template:
    src: ../templates/cri-o.repo.j2
    dest: /etc/yum.repos.d/cri-o.repo

- name: Copy kubernetes repo definitions in place
  ansible.builtin.template:
    src: ../templates/kubernetes.repo.j2
    dest: /etc/yum.repos.d/kubernetes.repo

- name: "Install or check for existence of some required tools"
  ansible.builtin.yum:
    name:
      - socat
      - conntrack-tools
      - container-selinux
      - tar 
      - git
      - kubernetes-cni
      - yum-utils
    disable_excludes: all
    state: latest

- name: "Install kubeadm-{{ k8s_version }}"
  ansible.builtin.yum:
    name:
      - kubeadm-{{ k8s_version }}
    disable_excludes: all
    state: latest

# Fix for SELinux issue with crun and systemd with eBPF
# See https://github.com/containers/crun/issues/1879#issuecomment-3574795465
# This was fixed in container-selinux 2.243, so we only apply the workaround
# if an older version is installed.
# https://github.com/containers/container-selinux/releases/tag/v2.243.0
# See container-selinux PR #405 and #390.
- name: Get container-selinux version
  ansible.builtin.command: rpm -q --queryformat '%{VERSION}' container-selinux
  register: container_selinux_ver
  changed_when: false
  ignore_errors: true

- name: Apply SELinux workaround for crun/systemd eBPF issue (only if container-selinux < 2.243)
  block:
    - name: Copy ebpf-fix.te for SELinux workaround
      ansible.builtin.copy:
        src: ../roles/prereq/files/ebpf-fix.te
        dest: /tmp/ebpf-fix.te
      register: ebpf_fix_te

    - name: Apply ebpf-fix SELinux module
      ansible.builtin.shell: |
        checkmodule -M -m -o /tmp/ebpf-fix.mod /tmp/ebpf-fix.te
        semodule_package -o /tmp/ebpf-fix.pp -m /tmp/ebpf-fix.mod
        semodule -i /tmp/ebpf-fix.pp
      when: ebpf_fix_te.changed
  when: 
    - container_selinux_ver.rc == 0
    - container_selinux_ver.stdout is version('2.243', '<')
