- name: Delete old repo definitions if they are there
  ansible.builtin.file:
    path: /etc/yum.repos.d/libcontainers.repo
    state: absent
  ignore_errors: true

- name: Copy cri-o repo definitions in place
  ansible.builtin.template:
    src: ../templates/cri-o.repo.j2
    dest: /etc/yum.repos.d/cri-o.repo

- name: Copy kubernetes repo definitions in place
  ansible.builtin.template:
    src: ../templates/kubernetes.repo.j2
    dest: /etc/yum.repos.d/kubernetes.repo

- name: "Install or check for existence of some required tools"
  ansible.builtin.yum:
    name:
      - socat
      - conntrack-tools
      - checkpolicy
      - container-selinux
      - tar 
      - git
      - kubernetes-cni
      - yum-utils
    disable_excludes: all
    state: latest

- name: "Install kubeadm-{{ k8s_version }}"
  ansible.builtin.yum:
    name:
      - kubeadm-{{ k8s_version }}
    disable_excludes: all
    state: latest

# Fix for SELinux issue with crun and systemd with eBPF
# See https://github.com/containers/crun/issues/1879#issuecomment-3574795465
# This was fixed in container-selinux 2.243, so we only apply the workaround
# if an older version is installed.
# https://github.com/containers/container-selinux/releases/tag/v2.243.0
# See container-selinux PR #405 and #390.
- name: Get container-selinux version
  ansible.builtin.command: rpm -q --queryformat '%{VERSION}' container-selinux
  register: container_selinux_ver
  changed_when: false
  ignore_errors: true

- name: Check if ebpf-fix SELinux module is already installed
  ansible.builtin.command: semodule -l
  register: selinux_modules
  changed_when: false

- name: Apply SELinux workaround for crun/systemd eBPF issue (only if container-selinux < 2.243)
  block:
    - name: Copy ebpf-fix.te for SELinux workaround
      ansible.builtin.copy:
        src: ebpf-fix.te
        dest: /var/lib/selinux/ebpf-fix.te
      register: ebpf_fix_te

    - name: Apply ebpf-fix SELinux module
      ansible.builtin.shell: |
        checkmodule -M -m -o /var/lib/selinux/ebpf-fix.mod /var/lib/selinux/ebpf-fix.te
        semodule_package -o /var/lib/selinux/ebpf-fix.pp -m /var/lib/selinux/ebpf-fix.mod
        semodule -i /var/lib/selinux/ebpf-fix.pp
      when: ebpf_fix_te.changed

    - name: Cleanup ebpf-fix SELinux temp files
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
      loop:
        - /var/lib/selinux/ebpf-fix.te
        - /var/lib/selinux/ebpf-fix.mod
        - /var/lib/selinux/ebpf-fix.pp

  when:
    - container_selinux_ver.rc == 0
    - container_selinux_ver.stdout is version('2.243', '<')
    - "'ebpf-fix' not in selinux_modules.stdout"

# Due to a bug in kubeadm upgrade in v1.35.0 we should put something in the env variable
# KUBELET_KUBEADM_ARGS in var/lib/kubelet/kubeadm-flags.env
# This should be fixed in v1.35.1 (https://github.com/kubernetes/kubernetes/pull/136127)
- name: Apply fix for kubeadm upgrade bug in v1.35.0
  ansible.builtin.shell: |
    echo 'KUBELET_KUBEADM_ARGS="-v 0"' > /var/lib/kubelet/kubeadm-flags.env
  when: k8s_version == "1.35.0"