k8sServiceHost: {{ api_host }}
k8sServicePort: {{ api_loadbalancer_port|default(lb_api_port,true) }}
ipv4NativeRoutingCIDR:  {{ k8s_cidr }}
routingMode: native
envoy:
  enabled: false
ipv4:
  enabled: true
autoDirectNodeRoutes: true
ipam:
  operator:
    clusterPoolIPv4PodCIDRList: {{ k8s_cidr }}
{% if repo_mirror is defined %}
operator:
  image:
    repository: "{{ repo_mirror }}/quay.io/cilium/operator"
    tag: "v1.17.2"
    useDigest: false
    digest: ""
image:
  repository: "{{ repo_mirror }}/quay.io/cilium/cilium"
  tag: "v1.17.2"
  useDigest: false
  digest: ""
{% endif %}
