k8sServiceHost: {{ api_host }}
k8sServicePort: {{ api_loadbalancer_port|default(lb_api_port,true) }}
ipv4NativeRoutingCIDR:  {{ k8s_cidr }}
envoy:
  enabled: false
ipv4:
  enabled: true
ipam:
  operator:
    clusterPoolIPv4PodCIDRList: {{ k8s_cidr }}

{% if cilium.routingmode is defined %}
{% if cilium.routingmode == "native" %}
routingMode:  native
autoDirectNodeRoutes: true
{% else %}
routingMode:  tunnel
autoDirectNodeRoutes: false
{% endif %}
{% endif %}

hubble:
  relay:
    enabled: {{ cilium.hubble |default(false) }}
  ui:
    enabled: {{ cilium.hubble |default(false) }}
{% if cilium.metrics.enabled is true %}
  metrics:
    enableOpenMetrics: true
    enabled:  
      - dns:query;ignoreAAAA
      - drop
      - tcp
      - flow
      - icmp
      - http
    serviceMonitor:
      enabled: {{ cilium.metrics.servicemonitor|default(false) }}
    dashboards:
      enabled: {{ cilium.metrics.grafana.enabled |default(false) }}
      label: grafana_dashboard
      labelValue: "true"
      namespace: {{ cilium.metrics.grafana.namespace |default(kube-system) }}
{% endif %}
{% if repo_mirror is defined or cilium.version is defined %}
    image:
{% if repo_mirror is defined %}
      repository: "{{ repo_mirror }}/quay.io/cilium/hubble-relay"
{% endif %}
{% if cilium.version is defined %}
      tag: "{{ cilium.version }}"
      useDigest: false
{% endif %}
{% endif %}
{% if repo_mirror is defined %}
    frontend:
      image:
        repository: "{{ repo_mirror }}/quay.io/cilium/hubble-ui"
        tag: "v0.13.2"
        useDigest: false
    backend:
      image:
        repository: "{{ repo_mirror }}/quay.io/cilium/hubble-ui-backend"
        tag: "v0.13.2"
        useDigest: false
{% endif %}

{% if repo_mirror is defined or cilium.version is defined or cilium.metrics is defined %}
operator:
{% if repo_mirror is defined or cilium.version is defined %}
  image:
{% if repo_mirror is defined %}
    repository: "{{ repo_mirror }}/quay.io/cilium/operator"
{% endif %}
{% if cilium.version is defined %}
    tag: "{{ cilium.version }}"
    useDigest: false
    digest: ""
{% endif %}
{% endif %}
  prometheus: 
    enabled: {{ cilium.metrics.enabled|default(false) }}
    serviceMonitor:
      enabled: {{ cilium.metrics.servicemonitor|default(false) }}
  dashboards:
    enabled: {{ cilium.metrics.grafana.enabled |default(false) }}
    label: grafana_dashboard
    labelValue: "true"
    namespace: {{ cilium.metrics.grafana.namespace |default(kube-system) }}
{% endif %}

{% if repo_mirror is defined or cilium.version is defined %}
image:
{% if repo_mirror is defined %}
  repository: "{{ repo_mirror }}/quay.io/cilium/cilium"
{% endif %}
{% if cilium.version is defined %}
  tag: "{{ cilium.version }}"
  useDigest: false
  digest: ""
{% endif %}
{% endif %}

{# as the bandwithmanager changes some deep system things, its better to don't include in the values that it  fallback to the defaults of the helm charts  #}
{% if cilium.bandwidthManager is true %}
bandwidthManager:
  enabled: true
bpf:
  masquerade: true
kubeProxyReplacement: true
{% endif %}

prometheus:
  enabled: {{ cilium.metrics.enabled|default(false) }}
  serviceMonitor:
    enabled: {{ cilium.metrics.servicemonitor|default(false) }}
dashboards:
  enabled: {{ cilium.metrics.grafana.enabled |default(false) }}
  label: grafana_dashboard
  labelValue: "true"
  namespace: {{ cilium.metrics.grafana.namespace |default(kube-system) }}
