{% macro cilium_image(cilium, repo_mirror, image_name) -%}
{% if repo_mirror is defined or cilium.version is defined %}
image:
{% if repo_mirror is defined %}
  repository: "{{ repo_mirror }}/quay.io/cilium/{{ image_name }}"
{% endif %}
{% if cilium.version is defined %}
  tag: "{{ cilium.version }}"
  useDigest: false
{% endif %}
{% endif %}
{%- endmacro -%}

k8sServiceHost: {{ api_host }}
k8sServicePort: {{ api_loadbalancer_port|default(lb_config.k8s_loadbalancer_api_port,true) }}
ipv4NativeRoutingCIDR:  {{ k8s_cidr }}
envoy:
  enabled: false
ipv4:
  enabled: true
ipam:
  operator:
    clusterPoolIPv4PodCIDRList: {{ k8s_cidr }}

{% if cilium.routingmode | default("tunnel", true) == "native"  %}
routingMode:  native
autoDirectNodeRoutes: true
{% else %}
routingMode:  tunnel
autoDirectNodeRoutes: false
{% endif %}

hubble:
  relay:
    enabled: {{ (cilium.hubble.enabled | default(false)) if cilium.hubble is defined else false }}
{{ (cilium_image(cilium, repo_mirror, "hubble-relay") | to_nice_yaml(indent=4)) if repo_mirror is defined or cilium.version is defined }}
  ui:
    enabled: {{ (cilium.hubble.enabled | default(false)) if cilium.hubble is defined else false }}
{% if repo_mirror is defined %}
    frontend:
      image:
        repository: "{{ repo_mirror }}/quay.io/cilium/hubble-ui"
        tag: "v0.13.2"
        useDigest: false
    backend:
      image:
        repository: "{{ repo_mirror }}/quay.io/cilium/hubble-ui-backend"
        tag: "v0.13.2"
        useDigest: false
{% endif %}
{% if cilium.metrics is defined and cilium.metrics.enabled is true %}
  metrics:
    enableOpenMetrics: true
    enabled:  
      - dns:query;ignoreAAAA
      - drop
      - tcp
      - flow
      - icmp
      - http
    serviceMonitor:
      enabled: {{ (cilium.metrics.servicemonitor | default(false)) if cilium.metrics is defined else false }}
    dashboards:
      enabled: {{ (cilium.metrics.grafana.enabled | default(false)) if (cilium.metrics is defined and cilium.metrics.grafana is defined) else false }}
      label: grafana_dashboard
      labelValue: "true"
      namespace: {{ (cilium.metrics.grafana.namespace | default("kube-system")) if (cilium.metrics is defined and cilium.metrics.grafana is defined) else "kube-system" }}
{% endif %}
  export:
    static:
      enabled: {{ (cilium.hubble.export.enabled | default(false)) if (cilium.hubble is defined and cilium.hubble.export is defined) else false }}
      filePath: /var/run/cilium/hubble/events.log
      fieldMask: 
        - time
        - source
        - destination
        - verdict
        - l4
        - IP
        - node_name
        - drop_reason_desc
        - egress_denied_by
      allowList:
        - {{ ("'" + cilium.hubble.export.allowList + "'") if (cilium.hubble is defined and cilium.hubble.export is defined and cilium.hubble.export.allowList is defined) else '{"verdict":["DROPPED","ERROR"]}' }}
      denyList: 
        - '{"source_pod":["kube-system/"]}'
        - '{"destination_pod":["kube-system/"]}'

operator:
  replicas: {{ (cilium.operator.replicas | default(1)) if cilium.operator is defined else 1 }}
{{ (cilium_image(cilium, repo_mirror, "operator") | to_nice_yaml(indent=2)) if repo_mirror is defined or cilium.version is defined  }}
  prometheus: 
    enabled: {{ (cilium.metrics.enabled | default(false)) if cilium.metrics is defined else false }}
    serviceMonitor:
      enabled: {{ (cilium.metrics.servicemonitor | default(false)) if cilium.metrics is defined else false }}
  dashboards:
    enabled: {{ (cilium.metrics.grafana.enabled | default(false)) if (cilium.metrics is defined and cilium.metrics.grafana is defined) else false }}
    label: grafana_dashboard
    labelValue: "true"
    namespace: {{ (cilium.metrics.grafana.namespace | default("kube-system")) if (cilium.metrics is defined and cilium.metrics.grafana is defined) else "kube-system" }}

{{ cilium_image(cilium, repo_mirror, "cilium") }}

{# as the bandwithmanager changes some deep system things, its safer not to include it in the values, so that it fallbacks to the defaults of the helm chart  #}
{% if cilium.bandwidthManager | default("false", true) is true  %}
bandwidthManager:
  enabled: true
{% endif %}
{% if cilium.replaceKubeProxy | default("false", true) is true  %}
kubeProxyReplacement: true
bpf:
  masquerade: true
{% endif %}

l2announcements:
  enabled: {{ (cilium.l2announcements.enabled | default(false)) if cilium.l2announcements is defined else false }}

prometheus:
  enabled: {{ (cilium.metrics.enabled | default(false)) if cilium.metrics is defined else false }}
  serviceMonitor:
    enabled: {{ (cilium.metrics.servicemonitor | default(false)) if cilium.metrics is defined else false }}
dashboards:
  enabled: {{ (cilium.metrics.grafana.enabled | default(false)) if (cilium.metrics is defined and cilium.metrics.grafana is defined) else false }}
  label: grafana_dashboard
  labelValue: "true"
  namespace: {{ (cilium.metrics.grafana.namespace | default("kube-system")) if (cilium.metrics is defined and cilium.metrics.grafana is defined) else "kube-system" }}

