kind: InitConfiguration
apiVersion: kubeadm.k8s.io/v1beta3
---
kind: ClusterConfiguration
apiVersion: kubeadm.k8s.io/v1beta3
{% if repo_mirror is defined %}
imageRepository: {{ repo_mirror }}/registry.k8s.io
{% endif %}
kubernetesVersion: {{ k8s_version }}
clusterName: {{ clustername | default('kubernetes') }}
controlPlaneEndpoint: {{ control_plane|trim }}
networking:
  podSubnet: {{ k8s_cidr | default('10.85.0.0/16')}}
  serviceSubnet: {{ k8s_svc_cidr | default('10.96.0.0/12')}}
apiServer:
  certSANs:
{% for name in groups.master %}
  - {{ name }}
  - {{ hostvars[name].ansible_host }}
{% endfor %}
  - {{ ansible_fqdn | regex_replace('^([\\d\\w]+)-[\\d\\w]+\\.', '\\1.') }}
{% if api_loadbalancer is defined %}
  - {{ api_loadbalancer }}
{% endif %}
{% if oidc.issuer_url is defined %}
  extraArgs: 
    oidc-issuer-url: {{ oidc.issuer_url }}
    oidc-client-id: {{ oidc.client_id }}
    oidc-username-claim: {{ oidc.username.claim | default("preferred_username", true) }}
    oidc-username-prefix: {{  "'" + oidc.username.prefix + "'"  | default("'oidc:'", true) }}
    oidc-groups-prefix: {{  "'" + oidc.groups.prefix + "'"  | default("'oidc:'", true) }}
    oidc-groups-claim: {{ oidc.groups.claim | default("groups", true) }}
{% endif %}
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
resolvConf: /etc/resolv.conf.kubernetes