kind: InitConfiguration
apiVersion: kubeadm.k8s.io/v1beta3
---
kind: ClusterConfiguration
apiVersion: kubeadm.k8s.io/v1beta3
kubernetesVersion: {{ k8s_version }}
clusterName: {{ clustername | default('kubernetes') }}
controlPlaneEndpoint: {{ control_plane|trim }}
networking:
  podSubnet: {{ k8s_cidr | default('10.85.0.0/16')}}
  serviceSubnet: {{ k8s_svc_cidr | default('10.96.0.0/12')}}
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
resolvConf: /etc/resolv.conf.kubernetes