- name: Read variable definitions
  hosts: "*, localhost"
  roles:
    - read_config_vars

- name: Common setup
  hosts: loadbalancer, master, worker
  roles:
    - common

- name: Determine loadbalancer strategy
  hosts: localhost
  gather_facts: false
  tasks:
    - name: Check if 'loadbalancer' group exists and has members
      set_fact:
        has_dedicated_lb_group: "{{ groups['loadbalancer'] is defined and groups['loadbalancer'] | length > 0 }}"
      run_once: true

- name: Include playbook for dedicated loadbalancer hosts
  import_playbook: loadbalancer/dedicated-loadbalancer.yaml
  when: has_dedicated_lb_group

- name: Include playbook for master/worker loadbalancer hosts
  import_playbook: loadbalancer/master-worker-loadbalancer.yaml
  when: not has_dedicated_lb_group

- name: Install master and workers
  hosts: master, worker
  roles:
    - prereq
    - kubernetes
    - k8s_components
