- name: Read variable definitions
  hosts: "*, localhost"
  roles:
    - read_config_vars

- name: Common setup
  hosts: loadbalancer, master, worker
  roles:
    - common

- name: Rollout loadbalancer (haproxy) on loadbalancer hosts if any
  hosts: loadbalancer
  roles:
    - loadbalancer
  when: groups['loadbalancer'] is defined and groups['loadbalancer'] | length > 0

- name: Rollout loadbalancer (haproxy) on master and worker if no loadbalancer hosts
  hosts: master, worker
  roles:
    - loadbalancer
  when: groups['loadbalancer'] is not defined or groups['loadbalancer'] | length == 0


- name: Install master and workers
  hosts: master, worker
  roles:
    - prereq
    - kubernetes
    - k8s_components
